### Build / Maven ###
target/
!.mvn/wrapper/maven-wrapper.jar
.mvn/timing.properties

### Wrapper scripts (rastrear esses arquivos no repo) ###
!mvnw
!mvnw.cmd

### IDEs ###
# IntelliJ
.idea/
*.iml
*.ipr
*.iws
# Eclipse/STS
.classpath
.project
.settings/
.apt_generated/
.springBeans
.sts4-cache/
# VS Code
.vscode/

### Gradle (se existir) ###
build/
!**/src/main/**/build/
!**/src/test/**/build/

### Logs e temporários ###
*.log
logs/
*.tmp
*.swp
*.swo

### SO / Diversos ###
.DS_Store
Thumbs.db

### Docker / Dados locais ###
pgdata/
docker-data/

### Configs locais (opcional) ###
application-local.yml
application-local.properties
.env
.env.*

### Chaves e segredos ###
src/main/resources/keys/*.pem
*.jks
*.p12
*.keystore
